/* TopNavigation.css */

.top-navigation {
  position: absolute;
  width: 1440px;
  height: 77px;
  top: 215px;
  left: 77px;
  padding: 26px 80px 26px 80px;
  background: rgba(107, 60, 201, 1);
}

.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  width: 30%; /* Adjust the width as needed */
}

.logo svg {
  width: 100%;
  height: auto;
  fill: white; /* Adjust the fill color as needed */
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%; /* Adjust the width as needed */
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 20px; /* Adjust as needed */
}
